

{{> head }}


    
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Usando HBS</h1>
        <p> Texto de prueba </p>
    </div>

    <div class="col-4">
        <img src="assets/img/linterna-verde.png" class="img-thumbnail">
    </div>

</div>
    

{{> footer}}

